[2019-01-17 01:59] fenugrec opened #121 "Can't edit "CanRawFilter" from GUI"
I'm running 0.3 @ 4cf77f66 on Arch Linux. After adding a CanRawFilter element, I can't edit it : I can add, delete lines; change between "Accept" and "Drop", but impossible to change the ID and Payload fields. Tried clicking, pressing enter, space, backspace, numbers, arrows, no effect.

Qt-5.12 on Arch linux. Let me know if you need more information.

Hints ?

[2019-01-17 02:06] fenugrec opened #122 "can't drag+drop elements onto canvas"
On 0.3 @ 4cf77f66  : I can't drag and drop elements onto canvas; I need to right-click on the canvas and select the elements. See [screenshot](http://imgbin.ca/image.uploads/16-01-2019/original-fdaf185017fe7ca1525126b89fda1aa4.jpg) of attempt at dragging elements.

Qt-5.12 on Arch linux. Let me know if you need more information.

[2019-01-18 10:17] rkollataj commented on #122
Issues fixed. Thanks for reporting!

[2019-01-18 10:17] #122 closed

[2019-01-18 10:23] rkollataj commented on #121
The last line in CanRawFilter is meant to be not editable. It's purpose is to catch all unmatched frames from any other rows that can be added above. After adding new line you should be able to edit it.

It seems that the way it is working now is a bit confusing. I will think about making it more clear. Some HowTo will help for sure...

[2019-01-18 13:07] fenugrec commented on #121
Ah ! I didn't even think of trying to edit a newly added line. How about graying out the catch-all line ? Or, making it a seperate UI element just outside the list and visibly not part of it.

[2019-01-21 11:05] rkollataj commented on #121
@fenugrec I have tweak interface a bit. I hope it is more usable now. Let me know about any problems and thanks again for reporting!

[2019-01-21 11:05] #121 closed

[2019-01-21 14:41] fenugrec commented on #121
Just tried your fix. Looks great, thanks!

[2019-01-23 12:27] jogo- opened #128 "[Support Request] How to configure PCAN-USB bitrate on CANdevStudio Win32"
I'm trying to use the latest Win32 Prebuilt package from Bintray :
**CANdevStudio-0.3.875ac1f-win32-standalone** (https://bintray.com/rkollataj/CANdevStudio/download_file?file_path=CANdevStudio-0.3.875ac1f-win32-standalone.7z)

**OS** : Windows 10 x64 Version 1703 (15063.1563)
**CAN Hardware** : PeakCAN PCAN-USB (Drivers: 4.1.4.16279 KMDF 1.9, x64, Desktop)

How can I configure the actual PCAN-USB

[2019-01-23 12:34] jogo- opened #129 "[Feature Request] Add support for latest Qt 5.12 Serial Bus Module"
Would you mind please adding support for the latest Qt 5.12 Serial Bus Module ?
I would like to try and use my J2534 Pass-Thru VCI(s).

http://doc.qt.io/qt-5/whatsnew511.html#qt-serial-bus-module

**Qt Serial Bus Module**

- Added J2534 Pass-Thru CAN plugin for communication between a computer and a vehicle.
- Added description, serial number and channel to QCanBusDeviceInfo, as far as supported b

[2019-01-23 16:35] rkollataj commented on #129
I have tried building with Qt 5.12 on Linux and it was working just fine. Building on Windows should as well. Anyway it seems that changes you need were introduced already in Qt 5.1? If so and if you are interested in Windows version you can download binaries here:
https://dl.bintray.com/rkollataj/CANdevStudio/:CANdevStudio-0.3.875ac1f-win32-standalone.7z
or
https://dl.bintray.com/rkollataj/CANdev

[2019-01-23 16:55] rkollataj commented on #129
Note that I have not tested CAN FD frames. You may experience some problems especially when payload will be longer than 8 bytes.

[2019-01-23 17:03] rkollataj commented on #128
I have not tested CANdevStudio with PCAN, but as far as I can see it requires some additional settings. There is currently no way to pass additional configuration parameters via GUI. When working on Linux I configure CAN interface via system utility (iproute2) and than just connect CANdevStudio to already configured interface. I am wondering if you could try similar approach? Does Peak provides so

[2019-01-23 20:53] jogo- commented on #128
According to the [PEAK-System CAN-API Comparison](https://www.peak-system.com/Comparaison-APIs-CAN.392.0.html?&L=1), the hardware configuration is only possible via application when using the PCAN-Basic, while it is possible via control panel or application when using PCAN-Developer 4.

So myquestion is now the following:
Would you mind please adding this PCAN-Basic hw config using a 'plugin.json'

[2019-01-24 16:30] rkollataj commented on #128
I don't have too much time currently as I am starting week long holidays tomorrow. I have prepared quick solution for you to test (https://github.com/rkollataj/CANdevStudio/tree/device_config). There is additional "configuration" row in CanDevice config window (the same that you are using for setting up backend and interface). Let me know if it works for you when you are using:

backend: peakcan
i

[2019-01-24 17:07] jogo- commented on #128
Could you just provide the Win32 prebuilt isolated exe (shortest .7z) from Bintray (or elsewhere), as I still can't build for the moment ?

Thank you for your support

[2019-01-24 20:18] rkollataj commented on #128
There you go:

[CANdevStudio-0.3.fbb4446-win32.zip](https://github.com/GENIVI/CANdevStudio/files/2793424/CANdevStudio-0.3.fbb4446-win32.zip)

Let me know if it works.

[2019-01-25 09:41] jogo- commented on #128
Tested with BitRateKey = 250000 and it works like a charm !

Thanks a lot !

[2019-01-25 09:57] jogo- commented on #128
On your branch (https://github.com/rkollataj/CANdevStudio/tree/device_config), you will see 2 new PR from me.

[2019-01-25 13:48] jogo- commented on #128
Tested successfully using PassThruCAN Plugin configured for "PEAK - PCAN" from PEAK-System :
backend: passthrucan
configuration: BitRateKey = 250000
interface: PCANPT32

And tested successfully using PassThruCAN Plugin configured for "SIE_CANUSB" from Sontheim Industrie Elektronik GmbH :
backend: passthrucan
configuration: BitRateKey = 250000
interface: CANUSB

Great job !

[2019-01-25 14:22] rkollataj commented on #128
Great to hear that! I still need to add unit tests for this code so it will take some more time until it will be available on master branch. I will keep this thread open till that time.

Thanks for PRs.

[2019-01-25 15:14] jogo- commented on #129
The following Qt 5.12.0 Changes are worth seeing and could benefit to CANdevStudio:
https://github.com/qt/qtserialbus/blob/59f4eed65ab9730162ddf5b1d5c1ac260024a361/dist/changes-5.12.0#L22-L37

[2019-02-09 06:56] jogo- commented on #128
Could you please also add to the configuration row the possibility to switch between SFF and EFF? Since your current solution only supports the default frame format of each interface.

[2019-02-09 12:16] rkollataj commented on #128
@jogo- In the future please open new issues for new problems/requests. Both SFF and EFF frames are supported. Any frame with an ID 0x7FF is an extended frame.

Example:
![image](https://user-images.githubusercontent.com/19871188/52520705-ddc0c900-2c6c-11e9-934b-474fe56afb6c.png)

[2019-02-11 21:15] rkollataj commented on #128
Fix on master branch.

Binaries:
https://bintray.com/rkollataj/CANdevStudio/master/448f2f9#files

[2019-02-11 21:15] #128 closed

[2019-02-12 18:25] jogo- opened #137 "[Feature Request] Change display format of CAN message Id according to its frame format SFF/EFF"
I'm using the brand new : CANdevStudio v0.4.0 win32-standalone

Exemple of CAN message id 2047d (0x7FF) :
To be displayed as '0x7FF' only for SFF
To be displayed as '0x000007FF' for EFF

[2019-02-12 18:39] jogo- opened #138 "[Feature Request] Add support for sending CAN message Id [0..0x7FF] with any frame format SFF or EFF"
I'm still using the brand new : CANdevStudio v0.4.0 win32-standalone

Example of CAN message id 2047d (0x7FF) :
Can be sent as '0x7FF' only for SFF
Can be sent as '0x000007FF' for EFF

Maybe adding a dedicated checkbox:
- [x] EFF
- [ ] SFF

[2019-02-12 19:23] rkollataj commented on #137
You're right. I will fix that.

[2019-02-12 19:26] rkollataj commented on #138
I will try to fix that, thanks for reporting. I will probably follow approach from cansend (from Can Utils) i.e.
- 3 digits <= 0x7ff -  SFF
- 3 digits > 0x7ff - EFF
- 8 digits - EFF

[2019-02-13 21:48] jogo- opened #142 "[Feature Request] Add support for automatic PassThruCAN device discovery on Windows"
Only on Windows (32/64bits), when selecting the `backend: passthrucan`, it should be easier to select the proper CAN adapter by providing the list (as a drop-down list) of all available CAN adapters accessible as documented here:
https://github.com/qt/qtserialbus/blob/670f912fbc08002ac063504755fc7705931e0d6e/src/serialbus/doc/src/passthrucan.qdoc#L66-L76
For my previous tests, I had no other choic

[2019-02-13 22:00] jogo- opened #143 "[Feature Request] Add support for automatic CAN bus plugins/device discovery on Windows"
Only on Windows (32/64bits), it should be easier to select the proper CAN bus plugin/backend by providing a drop-down list of all available CAN bus plugins/backends.

[2019-02-14 11:47] rkollataj commented on #138
PR merged. Let me know if it works ok from your pov.

https://bintray.com/rkollataj/CANdevStudio/master/260e330#files

[2019-02-14 11:53] rkollataj commented on #142
I can see that enumeration of devices should be available since Qt 5.9 https://bugreports.qt.io/browse/QTBUG-54298. I am putting this on my TODO list.

[2019-02-16 16:41] jogo- commented on #138
Tested your CANdevStudio-0.4.260e330-win32-standalone version and everything works fine.
Thank you and keep up the great work !

[2019-02-16 16:41] #138 closed

[2019-02-16 16:44] jogo- commented on #137
Tested your CANdevStudio-0.4.260e330-win32-standalone version and everything works fine.
Thank you and keep up the great work !

[2019-02-16 16:44] #137 closed

[2019-02-24 07:51] jogo- commented on #142
Would you mind please sharing with us your TODO list here ? Maybe on a dedicated README.md chapter or a Wiki page ?
Thank you.

[2019-02-26 20:52] rkollataj opened #144 "CanSignalData"
Port CanSignalData from [signals](https://github.com/GENIVI/CANdevStudio/tree/signals) to master branch.

CanSignalData enables to load CAN database. Work started [here](https://github.com/rkollataj/CANdevStudio/commits/cansignaldata)

[2019-02-26 20:52] rkollataj opened #145 "CanSignalEncoder"
Port CanSignalEncoder from [signals](https://github.com/GENIVI/CANdevStudio/tree/signals) to master branch.

CanSignalEncoder enables to encode signals into resulting CAN frame

[2019-02-26 20:56] rkollataj opened #146 "CanSignalDecoder"
Port CanSignalDecoder from [signals](https://github.com/GENIVI/CANdevStudio/tree/signals) to master branch.

CanSignalDecoder enables to decode CAN frames to CAN signals.

[2019-02-26 20:57] rkollataj opened #147 "CanSignalSender"
Port CanSignalSender from [signals](https://github.com/GENIVI/CANdevStudio/tree/signals) to master branch.

CanSignalSender enables to send CAN signals.

[2019-02-26 20:58] rkollataj opened #148 "CanSignalViewer"
Port CanSignalViewer from [signals](https://github.com/GENIVI/CANdevStudio/tree/signals) to master branch.

CanSignalViewer enables to view CAN signals.

[2019-02-26 21:03] rkollataj opened #149 "PyScripter"
Create component that will enable to manipulate data using Python scripts. Required features:
- Component in/outs to be defined in Python script
- Possibility to define multiple inputs and outputs
- Python script to react on incoming inputs
- Python script to react on timing events (i.e. periodic events)

[2019-02-26 21:04] rkollataj commented on #142
I have added relevant issues for ToDo items.

[2019-02-26 21:09] rkollataj opened #150 "CanRawView - save log"
Add possibility to save log in CanRawVIew. Resulting file should match filtering and order of frames currently visible in a component.

[2019-02-27 09:56] #143 closed

[2019-02-27 09:56] #142 closed

[2019-02-28 16:33] jogo- opened #152 "[Feature Request] Add support for sending and receiving CAN Remote frames"
Currently, remote frames are received and displayed as normal data frames while a remote flag should identify such remote frames.
Sending remote frames is not yet possible.

[2019-02-28 16:36] jogo- opened #153 "[Feature Request] Add support for receiving CAN Error frames"

[2019-03-02 08:34] jogo- opened #154 "[Feature Request] Set default CanLoad bitrate property to CanDevice configuration BitRateKey value"
If the CanDevice configuration BitRateKey value is defined, then set the default CanLoad bitrate property to same value, so it is always consistent.

[2019-03-02 14:08] jogo- opened #155 "[Feature Request] Add to CanRawFilter an additional "inverted" output"
It should be helpful to add to the CanRawFilter component an additional "inverted" output for frames unmatched by any filter.
It could be marked as : ¬x (NOT x, Nx or !x)

[2019-03-02 14:35] jogo- opened #156 "[Feature Request] Add a CanStatistic component"
Add a CanStatistic component or extend the current CanLoad component to display CAN Statistics:

- number of received Errors frames
- number of received CAN frames
- number of received Remote CAN frames
- number of received Extended CAN frames
- number of received Data bytes
- number of sent CAN frames
- number of sent Remote CAN frames
- number of sent Extended CAN frames
- number of sent Data by

[2019-03-03 09:38] rkollataj commented on #154
I will take a look on this. It may be hard though as by desing components are independed from each other (i.e. there is no communication other than connections between components)

[2019-03-03 09:42] rkollataj commented on #155
Do you mean to for eample set "NOT 0x123" and match all frames different than 0x123?

[2019-03-03 09:58] jogo- commented on #155
No, I mean in the CanRawFilter node, add an additional "inverted" output (below the standard "RAW" one) for frames unmatched by any filter.
So, this second output could be used to link/cable to other nodes for frames unmatched by any filter.

[2019-03-03 12:18] rkollataj commented on #155
Oh I see. The thing is that CanRawFilters produces more like accepted/dropped rather than matched/unmatched frames. If there is no appropriate filter in a table then frame is being matched by default fiter (defined below the table). So each frame is in fact matched and is accepted or dropped. Adding another output that will pass over dropped frames seems confusing.

What is exact use case you are

[2019-03-06 19:59] jogo- commented on #155
Using just one CanRawFilter, you could split between the 2 outputs the diagnostic CAN frames on one hand and the other CAN frames on the other hand,, for example.

[2019-06-02 00:13] snoop911 opened #178 "Pi Compatibility"
Building this on a Pi (Stretch with Qt 5.12.3) seems to complete fine, but executing files/./CANdevStudio.sh it reports:

./CANdevStudio.sh: 15: ./CANdevStudio.sh: /home/pi/CANdevStudio/files/./CANdevStudio: not found

Is there a known compatibility issue between CanDevStudio and the Pi Zero (using a CAN hat)?

[2019-06-03 06:12] rkollataj commented on #178
I have never tried to run CDS on Pi. I believe it should work though. Could you show me an output of following commands:

ls -al /home/pi/CANdevStudio/files
file /home/pi/CANdevStudio/files/CANdevStudio
ldd /home/pi/CANdevStudio/files/CANdevStudio

[2019-06-03 15:09] snoop911 commented on #178
It doesn't look like anything is there:

pi@raspberrypi:~/CANdevStudio/build $ ls -al /home/pi/CANdevStudio/files
total 24
drwxr-xr-x  5 pi pi 4096 Jun  1 12:26 .
drwxr-xr-x 12 pi pi 4096 Jun  1 12:40 ..
-rwxr-xr-x  1 pi pi  439 Jun  1 12:26 CANdevStudio.sh
drwxr-xr-x  2 pi pi 4096 Jun  1 12:26 css
drwxr-xr-x  4 pi pi 4096 Jun  1 12:26 images
drwxr-xr-x  2 pi pi 4096 Jun  1 12:26 json
pi@raspberry

[2019-06-03 17:57] rkollataj commented on #178
I got slightly confused, but I think I understand the problem now. CANdevStudio.sh script is useful whenever you are trying to run "standalone" version of prebuilt packages. These packages can be downloaded from [here](https://bintray.com/rkollataj/CANdevStudio/releases/v0.4.1#files).

When you are building CDS on your own you should be able to run it simply from build directory:

[remol@ES5470 bu

[2019-06-04 15:11] snoop911 commented on #178
Thanks, that is good to know!  The GUI now comes up, but for some reason it doesn't list anything under the Device Layer / CanDevice..

However, 'ifconfig' shows can0, and I'm able to transmit using cansend / SavvyCan, so the (Microchip) CAN hat seems working.  Any idea why CDS doesn't recognize it?  The Pi's Stretch image is using kernel 4.14.98+.

[2019-06-04 16:01] rkollataj commented on #178
[QtCanBus](https://doc.qt.io/qt-5/qtcanbus-backends.html) that is a core of CDS depends on plugins. These plugins are loaded during application startup. Example from my PC:

remol@ES5470:~ $ ls /usr/lib/qt/plugins/canbus
libqtpassthrucanbus.so  libqtsocketcanbus.so  libqtvirtualcanbus.so
libqtpeakcanbus.so      libqttinycanbus.so

If you have Qt plugins in place and then drag and drop CanDevice yo

[2019-06-07 07:36] erikboto opened #179 "CanRawSender doesn't update frame data unless "Send" is toggled"
Steps to reproduce:

1. Set up a CanRawSender with a repeating frame, "Id: 111, Data: 00000000, Loop: checked, Interval: 100".
2. Enable it by clicking "Send"
3. Change the Id to 112.
4. Start simulation

The CanRawSender will now send frames with Id 111 and not Id 112, until  "Send" is set to off and then on again.

I had a quick look at the code, and it looks like only NewLineManager::SetSendBut

[2019-06-09 08:25] #179 closed

[2019-06-09 08:27] rkollataj commented on #179
Good catch and many thanks for the fix!

[2019-10-17 06:31] fadhel086 commented on #147
Hi,
since the porting is in inital stage ..
Is it possible to incorporate a loop checkbox and interval in CanSignalSender similar to CanRawSender.
Usecase:
For booting vehicle instrument cluster one needs to send multiple signals in a loop in prescribed time.

[2019-10-17 19:18] #178 closed

[2019-10-18 15:38] rkollataj commented on #147
Hi @fadhel086. The reason why there is no cycle in CanSignalSender is the fact that cycle is attribute of a CAN frame rather than signal itself. All signals within frame needs to have the same cycle. You can achieve what you need with CanSignalData. Once you will have DBC loaded open signal list (double click on CanSignalData component) and press "squash" button (top left). You will get possibilit

[2019-10-21 12:16] chrissunny94 opened #182 "Any updates with DBC support ?"
I got to understand from the documentation that the [signals](https://github.com/GENIVI/CANdevStudio/tree/signals) branch has DBC support .

I managed to compile it and run it  .

_I am able to see CAN messages , but **not able to decode it with .dbc file**  , can someone please tell me the steps to set it up ._

Also , the  list down menu while selecting **CAN interface , can interface type** etc

[2019-10-21 16:11] rkollataj commented on #182
@chrissunny94 To get CAN signals decoded you need to pass path to the DBC file. Just right-click on CanSignalData component and choose properties. Give it a try and let me know if it worked.

Signals branch is not in sync with latest master that's why you cannot use some features that are on master branch. Rebasing signals on on top of master should help however it would require a lot of manual me

[2019-10-21 17:13] fadhel086 commented on #147
Thanx for the reply ..
I shall tell the team here to test this ...
I do understand you are contributing here in your free time...
I do hope we shall be able to contribute here at some stage in future..

[2019-10-22 03:52] chrissunny94 commented on #182
@rkollataj

thanks it worked .

I will try to contribute to this project in my free time .

[2019-10-24 18:00] #182 closed

[2019-10-24 18:01] #144 closed

[2019-10-25 13:38] PM-1-1 opened #187 "Segmentation fault after frequently starting/stopping VirtualCanBus simulation"
Precondition:
CanDeviceModel::hasSeparateThread() true

Steps to reproduce:

1. Create CanDevice node component
2. Open contex menu
3. Set backend to VirtualCanBus and click OK
4. Turn on simulation
5. Turn off simulation
6. repeat steps 2:5

Result:
[code]

Quick fixes:
1. Disable "threading" by setting: CanDeviceModel::hasSeparateThread() return false
2. inside CanDeviceQt::init(const QString& b

[2019-10-31 04:46] fenugrec opened #188 "[Archlinux packaging] - disable tests"
Hi,
I'm updating the PKGBUILD for Arch, and I noticed that since a231e8e824e80a9bcb735c746ee34a23cf9cecfc , "make install" copies a lot of gmock and gtest files which I think are really not necessary for the typical user.

So I tried to invoke cmake with "-DWITH_TESTS=OFF", but it looks like that option isn't forwarded to  3rdParty/CANdb  (I think that is the submodule responsible for those gtest

[2019-10-31 07:44] rkollataj commented on #188
Hi @fenugrec. I have just commited a fix to the master branch. Let me know if it solves the issue.

Thanks for maitaining a package for Arch!

[2019-10-31 13:37] fenugrec commented on #188
Works perfect, thanks for the quick fix !

[2019-10-31 13:37] #188 closed

[2019-11-21 10:13] pamo-mobica opened #189 "Wrong instruction for Cannelloni configuration"
IP address passed to cannelloni app should be address of remote machine (192.168.0.2):
`cannelloni -I can0 -R 192.168.0.1 -r 30000 -l 20000`
Also CANdevStudio configuration should use socket can as backend and con0 for interface.

Below is patch with those changes:
[0001-Fix-Cannelloni-configuration-instruction.patch.tar.gz](https://github.com/GENIVI/CANdevStudio/files/3874124/0001-Fix-Cannelloni-

[2019-11-23 07:22] rkollataj commented on #189
There are two ways to use Cannelloni with CANdevStudio - with and without Qt canbus plugin. The issue is that the plugin was not built with CDS as there was an error in CMake file. I have corrected the error and also added some clearer (I hope!) description to readme file.

Thanks for reporting!

[2019-11-24 19:44] #189 closed

[2019-11-24 19:49] rkollataj commented on #147
@fadhel086 @chrissunny94  I have ported CanSignaSender and CanSignalEncoder to the master branch. I aimed to improve handling in comparison to what is available in signals branch. I also updated README to give some simple guide for components I have added.

I hope you will get a chance to test new changes. Feel free to report new issues/PR in case of suggestions/errors.

[2019-11-24 19:49] #147 closed

[2019-11-24 19:49] #145 closed

[2019-11-30 07:33] jogo- commented on #154
With Release v0.6.0, I can see :
- CanSignalSender and CanSignal
- Encoder components added
- **Broadcast mechanism introduced to enable communication between components**
- Fixed floating point numbers handling in CANdb
- Added possibi _**l**_ ity _**to**_ connect multiple component _**s**_ to IN port
- qtCannelloniCanBusPlugin building fixed
- Minor improvements in tests and documentation

So if

[2019-11-30 15:29] rkollataj commented on #154
Yes, broadcast mechanism can be used to implement this.

[2019-12-01 12:30] #146 closed

[2019-12-10 09:51] #148 closed

[2019-12-27 12:12] rkollataj opened #194 "Wrong SVG rendering coordinates for CAN signals components"
When using Qt5.14.0 SVG is rendered in wrong position for all CAN signals components. The bug is filed in Qt system: https://bugreports.qt.io/browse/QTBUG-80969

[2020-01-16 19:10] AkR7F1X opened #195 "[Feature Request] Add support for slcan protocol"
Add support for slcan protocol with serial device without slcand for Windows.

I reprogrammed the open hardware device [CanDybug](https://github.com/IntergatedCircuits/CanDybugFW) to support the slcan protocol and I would like to use it on Windows.
Maybe I will find the time in the next few weeks, then I can implement it if the request is accepted.

[2020-01-16 19:29] rusoku commented on #195
I will try to add CANAL interface.

[2020-01-17 09:28] rkollataj commented on #195
@AkR7F1X @rusoku  Your contributions are more than welcome!

As CANdevStudio is Qt based the best way to add new devices is to follow https://doc.qt.io/qt-5/qtcanbus-backends.html. Of course it may take some time until new plugins will be accepted to official Qt release. In the mean time I am ok to add your plugins to be build together with CANdevStudio as [qtCannelloniCanBus](https://github.com/t

[2020-01-17 09:31] rkollataj commented on #149
The work is ongoing here: https://github.com/rkollataj/CANdevStudio/tree/pyscripter2

[2020-01-19 23:05] AkR7F1X commented on #195
Oh shit 😄
I think I underestimated the amount of work a bit.
I’ll take a look at canelloni first...

[2020-01-20 08:20] novalisek opened #196 "DBC parsing error"
Hi,
I have CDS 1.0.0. installed on W10, I have problem parsing some .DBC files -  I downloaded "ford_cgea1_2_bodycan_2011.dbc" and "ford_cgea1_2_ptcan_2011.dbc" from opendbc https://github.com/commaai/opendbc/  . I can open first file without problem, second one is not parsed and no messages are shown in CanSignalData

[2020-01-20 16:38] rkollataj commented on #195
Maybe I've overcomplicated it in my description :) qtCannelloni plugin is about 200 LoC.

To make it clear you don't have to upstream anything to Qt. qtCannelloni was created more than 2 years ago and since that time no updates were necessary.

[2020-01-20 16:42] rkollataj commented on #196
I think that your problem may be related to https://github.com/commaai/opendbc/issues/151. Try to reorder or delete sections that does not follow specification.

[2020-01-20 16:52] rusoku commented on #195
wow it seems like CANdevStudio use my old good USB2CAN converter too.Nice!
https://youtu.be/1TfAyg6DG04?t=35
Ok then I will start from Qt CAN bus driver.I will add new stuff like RUSOKU CAN FD devices as well.

[2020-01-20 17:21] rkollataj commented on #195
@rusoku Actually I have purchased it from https://www.8devices.com/products/usb2can but it does look familiar. Is it your desing? :)

I cannot see any CAN FD device in your shop yet. Are you still working on it? CANdevStudio will require some tweaks to make CAN FD use efficient (e.g. fix viewer to be able to show 64 bytes of payload). In principle though QCanBusFrame has support for CAN FD frames

[2020-01-20 18:39] rusoku commented on #195
I developed this converter for VSCP home automation long time ago ;-)
Later 8dev was selling this converter and I worked for 8dev on WiFi modules hardware (Carambola,Rambutan,Jalapeno , etc...)
At his moment I am owner of Rusoku technologies.
CAN FD devices are on developing phase now.Works but springs and gears still exploding ;-)
(STM32H750+4x MCP2518)

[2020-01-21 08:17] novalisek commented on #196
I also tried to convert the files in Busmaster convert utility, there were problems with both of them because they had spaces instead of tabs. I opened them in CANdb++ from Vector, saved them again and then Busmaster had no problem converting them. Also CDS opened them fine, so it seems CANdb++ "fixed" them. But I also tried opening https://github.com/tomahawkins/ecu/blob/master/src/j1939_orig.dbc

[2020-01-22 15:19] rkollataj commented on #196
There are two problems with the CANdb parser '\"' signs e.g.

CM_ SG_ 2566844670 EngPTOGvrnrCst_DecelerateSwitch "Switch signal of the PTO control activator which indicates that the activator is in the position to \"coast/decelerate\" the PTO";

and format of some of _BA messages e.g.
BA_ "SystemSignalLongSymbol" SG_ 2566714366 EngTrbCmprssrBypssActtr2PrlmnryF "EngTrbCmprssrBypssActtr2PrlmnryFMI";

[2020-01-22 15:25] rkollataj commented on #195
Sounds cool. Good luck!

@rusoku, @AkR7F1X I am closing this topic as we drifted a bit from the main subject :) Feel free to open new issue if required or even better - Pull Request :)

[2020-01-22 15:25] #195 closed

[2020-01-26 14:48] w0land commented on #196
@novalisek thanks for pointing it out. I'll create a ticker under https://github.com/GENIVI/CANdb as this is a issues with new opendbc dbc files.

[2020-01-26 14:48] #196 closed

[2020-01-26 14:49] w0land commented on #196
Ticket is here: https://github.com/GENIVI/CANdb/issues/16

[2020-01-26 16:43] novalisek commented on #196
Thanks for looking at that.

[2020-02-17 12:22] #152 closed

[2020-02-17 12:23] rkollataj commented on #194
Fixed in Qt5.14.1

[2020-02-17 12:23] #194 closed

[2020-02-17 12:40] jogo- commented on #152
I guess it also closes this "To do" card : https://github.com/GENIVI/CANdevStudio/projects/1#card-18324986

[2020-02-17 13:25] rkollataj commented on #152
Correct. Fixed now. Thanks.

[2020-03-26 03:59] 8bitgeek opened #198 "CANSignalEncoder appears to drop extended id."
If I understand correctly. I believe that in this scenario CANSignalEncoder is dropping extended ID when converting signal to raw packet. I've also attached the DBC I'm working with in this example.

[CANSignalEncoder-issue-dbc.zip](https://github.com/GENIVI/CANdevStudio/files/4384925/CANSignalEncoder-issue-dbc.zip)
![CANSignalEncoder-issue](https://user-images.githubusercontent.com/12674614/77608

[2020-03-29 10:32] rkollataj commented on #198
I think that the problem is caused by CAN ID that you are using. Extended CAN id is 29bit long (i.e. 0x1ffffff) and your ids seems to be bigger than that. Furthermore according to DBC specification signals with extended CAN id should have most significant bit in CAN id set. This simply means that all fo your IDs should be - CAN_ID | 0x1000000.

[2020-03-29 15:00] 8bitgeek commented on #198
Thank you. Okay, I suspected there might be something goofy going on there.
I'm sorry I'm a newbie with both .dbc files, and extended IDs.
I am the producer of the DBC file.
I will forward your response to the producers of the file and get that corrected.
I think we can close this issue.
Thanks again!!

[2020-03-29 15:03] 8bitgeek commented on #198
* ...**NOT** the producer of the DBC file...

[2020-03-29 15:36] 8bitgeek commented on #198
Just FYI.
This is SAE J1939.
I think that may have something too do with the way they are encoding the IDs

[2020-03-29 15:50] rkollataj commented on #198
From what I can see J1939 also uses 29 bit CAN ID. However as you mentined this may be some additional info that is encoded in DBC on to of standard 29 bits. Do you have any clue on how to figure this out?

[2020-03-29 16:14] 8bitgeek commented on #198
I  am reviewing J1939 from sources such as https://assets.vector.com/cms/content/know-how/_application-notes/AN-ION-1-3100_Introduction_to_J1939.pdf  and others.

Nothing is jumping out at me.

Yes, it seems that J1939 encodes the IDs in a specific way, but it should still end up at 29 bit from what I can understand.

I have forwarded what I know (and don't know) up the chain of command, and I've

[2020-03-29 18:12] rkollataj commented on #198
The above should fix problem with "strange" J1939 IDs.

@8bitgeek let me know if you will learn anything interesting about 32bit of CAN ID beeing set in J1939 DBC.

[2020-03-29 20:22] 8bitgeek commented on #198
Thank you @rkollataj, I have tested that patch and applied a similar patch to my application which also consumes the same DBC file.
It is working as expected.
I will let you know if I discover anything as to why the high-bit is being set.

[2020-04-28 17:42] ozzdemir opened #200 "Signal decoder do not parse signals correctly* when they are big-endian."
Signal decoder does not parse signals when they are big-endian. There are two problems I observed.
  - CanSignalDecoderPrivate::decodeFrame() calls CanSignalDecoderPrivate::rawToSignal with littleEndian parameter being true (even if signal is bigendian) It might be due to parsing (did not inspected further) but hotfixed by hardcoding litteEndian parameter to be false (since all my signals were big

[2020-05-21 13:32] Regjoz opened #201 "I can not import dbc files"
When I import a dbc file from a proprietary dB or opendbc I get two messages.

TAG BS Not implemented

Parser log 103:1 syntax error
Failed to load CAN DB from "path"

I tried with three differentsdbc files

[2020-05-21 13:38] Regjoz commented on #201
Exact error message

 [2020-05-21 15:34:47.277] [cds] [warning] [dbcparser.cpp@141] TAG BS Not implemented
 [2020-05-21 15:34:47.290] [cds] [error] [dbcparser.cpp@83] Parser log 103:1 syntax error
 [2020-05-21 15:34:47.291] [cds] [error] [loadDbc():cansignaldata_p.cpp@228] Failed to load CAN DB from 'path/tesla.dbc' file

File used

https://raw.githubusercontent.com/commaai/opendbc/master/tesla_ca

[2020-05-27 09:39] hadwin2017 opened #202 "litter endian and big endian error"
`

switch (sig.byteOrder) {
--
  | case 0:
  | // Little endian
  | littleEndian = true;
  | break;
  |  
  | case 1:
  | // Big endian
  | littleEndian = false;
  | break;
  |  
  | default:
  | cds_error("byte order {} not suppoerted", sig.byteOrder);
  | continue;
  | }

`

here, Intel is Little endian, and byteOrder is 1, Motorola is Big endian and byteOrder is 0

[2020-06-01 07:38] 8bitgeek opened #203 "Extended IDs LSB Truncated."
I'm having an issue with the LSB being truncated. As you can see all the IDs have LSB 0x00 when in fact many of them should not be zero. Is there something I need to be aware of?

![CANdevStudio-ExtendedIDsTruncated](https://user-images.githubusercontent.com/12674614/83386398-0405fd00-a3b9-11ea-83bf-12ba91264475.png)

[2020-06-04 13:31] SNL5943 commented on #203
I have the same issue with J1939 ID, checking around in the code but stand still :(

[2020-06-05 10:58] rkollataj commented on #203
@8bitgeek @SNL5943 Could you share DBC file you are loading?

[2020-06-05 11:05] rkollataj commented on #202
@hadwin2017 Not sure if I get your comment right. Do you mean that biteOrder is wrong? I based the code on http://read.pudn.com/downloads766/ebook/3041455/DBC_File_Format_Documentation.pdf

Extract:
byte_order = '0' | '1' ; (* 0=little endian, 1=big endian *)
The byte_format is 0 if the signal's byte order is Intel (little endian) or 1 if the byte
order is Motorola (big endian).

[2020-06-05 12:39] 8bitgeek commented on #203
Here you are.

On 2020-06-05 06:58, Remigiusz Kołłątaj wrote:

VERSION ""

NS_ :
	NS_DESC_
	CM_
	BA_DEF_
	BA_
	VAL_
	CAT_DEF_
	CAT_
	FILTER
	BA_DEF_DEF_
	EV_DATA_
	ENVVAR_DATA_
	SGTYPE_
	SGTYPE_VAL_
	BA_DEF_SGTYPE_
	BA_SGTYPE_
	SIG_TYPE_REF_
	VAL_TABLE_
	SIG_GROUP_
	SIG_VALTYPE_
	SIGTYPE_VALTYPE_
	BO_TX_BU_
	BA_DEF_REL_
	BA_REL_
	BA_DEF_DEF_REL_
	BU_SG_REL_
	BU_EV_REL_
	BU_BO_REL_
	SG_MUL_VAL_

BS

[2020-06-05 12:45] 8bitgeek commented on #203
[extended-ids.dbc.zip](https://github.com/GENIVI/CANdevStudio/files/4736174/extended-ids.dbc.zip)

[2020-06-05 13:47] rkollataj commented on #203
It looks like a problem with CANdb (3rdParty/CANdb submodule). I believe that below patch will solve the problem. I need to make sure with @btaczala (CANdb maintainer) if that's correct fix. @8bitgeek @SNL5943 Give it a try and let me know.

diff --git a/src/dbcparser.cpp b/src/dbcparser.cpp
index 6a64a94..6bf58ab 100644
--- a/src/dbcparser.cpp
+++ b/src/dbcparser.cpp
@@ -97,7 +97,7 @@ bool DBCPar

[2020-06-06 22:06] btaczala commented on #203
@8bitgeek can I include dbc file into DBC repo (for testing purposes)?

[2020-06-07 14:30] btaczala commented on #201
@Regjoz I've noticed that newer `opendbc` files are no longer correctly parsed by CANdb, I have this on my todo list

[2020-06-08 14:30] SNL5943 commented on #203
@btaczala Yes, the issue is solved by your patch. Thanks!!

[2020-06-08 14:39] SNL5943 commented on #202
@rkollataj I think the reference file above is outdated and not valid anymore.
According this Repo [https://github.com/stefanhoelzl/CANpy/blob/master/docs/DBC_Specification.md] and this link [http://socialledge.com/sjsu/index.php/DBC_Format#:~:text=DBC%20file%20is%20a%20proprietary,bytes%20of%20CAN%20message%20data.&text=Essentially%2C%20each%20%22message%22%20defined,members%20of%20the%20C%20stru

[2020-06-09 06:23] rkollataj commented on #202
@SNL5943 The document I shared comes from Vector which is DBC "inventor". I believe that this source is more relevant than sites that are trying to reverse engineer the format. I will leave this issue open and will try to verify endianess in CANoe when I will get a chance.

[2020-06-10 08:05] 8bitgeek commented on #203
The extended ids appear to be fixed.

However, now I have this issue where the CanSignalSender Value ranges are incorrect. Many of them read "min: 0 max: 0" which is incorrect.

![candevstudio-wrong-ranges](https://user-images.githubusercontent.com/12674614/84242831-60f76680-aacf-11ea-81a9-356d26e12002.png)
![candevstudio-wrong-ranges1](https://user-images.githubusercontent.com/12674614/84242844-6

[2020-06-10 08:50] rkollataj commented on #203
You're right. For CANParkBrakeStatus it should be min 0 and max 3. Was it like that before the patch or patch has broken this?

[2020-06-18 16:51] SNL5943 commented on #202
One finding, I've review [dbcparser.cpp](https://github.com/GENIVI/CANdb/blob/master/src/dbcparser.cpp) from CANdb, at line 251 as below:
` CANsignal::ByteOrder byteOrder = (take_back(numbers) == 0) ?
                    CANsignal::Motorola : CANsignal::Intel;`
I don't have any Vector hardware or software so can not verify with them.

[2020-08-02 18:42] mguentner commented on #196
@rkollataj

at least the ba_ sg_ issue is fixed with https://github.com/GENIVI/CANdb/pull/29/files

[2020-08-02 19:02] jenszo commented on #202
I am working with a major OEM's DBCs on a regular basis which have been built and engineered using mainly Vector Hard-  and Software. I can confirm that the current endinaness implementation of CANdb++ is perfectly valid and co-exist just fine with Vector products.

[2020-08-31 04:15] hdnauth opened #208 "[Feature Request] support CAN-FD"
On a test with using Peak-CAN & SocketCAN driver on linux, the CANRawView shows nothing when CAN-FD messages received.

CAN-FD messages need to be supprted

[2020-09-08 04:02] SNL5943 opened #209 "Application is hanged after running for more than 1 hour"
I am using a VM with ubuntu 18 image. I've cloned and rebuilt the latest commit in master branch. I tested with CANraws and CANsignals module. The issue happens when I left the application running through for more than 1 hour, and other apps which are running are hanged as well. The issue only disappears when I close all the apps and restart them.

[2020-09-08 06:12] bdmihai opened #210 "Scripting block"
Add block for scripting (maybe javascript as it is integrated whit QT, evntl. QML would be very interesting). This should offer timers and advanced features like CAPL in CANoe.

[2020-09-08 06:14] bdmihai opened #211 "Visual block"
Add a block for visualization. This should be like a QML component that is associated with a block and the user can define the visual appearance in a qml file and create the bindings with CAN information.
This should be like the panels in CANoe - useful to create dasboards and control panels.

[2020-09-08 15:14] rkollataj commented on #210
Thanks for the suggestion. Actually I stareted to work on Python integration some time ago. It is completed in 80-90%, but I still failed to find time to finalize it. See #149 for details.

[2020-09-08 15:17] rkollataj commented on #211
Great idea. I believe that #149 will also give some possibility to greate GUI in Python, but having generic components that is able to load custom QML sounds even better.

[2020-09-09 16:11] bdmihai opened #213 "Diag block"
Have a block for triggering UDS commands. Python can be used toghether with https://github.com/pylessard/python-udsoncan

[2020-12-11 09:44] ask6483 opened #220 "Can't run application after build on Debian bullseye/sid"
After successfull compilation using custom Qt SDK path:
cmake .. -DCMAKE_PREFIX_PATH=/opt/Qt/5.x/5.15.2/gcc_64

Application fails to run with message:
/usr/local/bin/CANdevStudio: symbol lookup error: /usr/local/bin/CANdevStudio: undefined symbol: _ZdlPvm, version Qt_5

Different compiler used during build?
gcc --version
gcc (Debian 10.2.0-19) 10.2.0

Also exported CC and CXX vars before build wit

[2020-12-11 11:56] ask6483 commented on #220
Ok, got solution.. It seems that Debian qt5 libraries are compiled with newer version of glibc than official qt sdk ones.
As I don't want to have Debian development packages for qt5 installed I have exported LD_LIBRARY_PATH before build:
[code]
This will link libraries from custom qt installation path rather than system ones.

[2020-12-11 11:56] #220 closed

[2021-04-21 12:31] dianaa20-t opened #221 "Installation problem"
![CMake](https://user-images.githubusercontent.com/82948839/115553346-38bac580-a2a5-11eb-8e31-2740c63fcc0e.PNG)

How could i find the messing modules?
Regards,

[2021-04-21 15:56] rkollataj commented on #221
Looks like a problem with Qt libraries that comes with Ubuntu installation. Try to install full Qt framework on your own using: https://download.qt.io/archive/qt/. Then point CMake to installation path using CMAKE_PREFIX_PATH e.g.

`cmake .. -DCMAKE_PREFIX_PATH=/home/genivi/Qt5.8.0/5.8/gcc_64`

[2021-04-22 17:03] dianaa20-t commented on #221
It doesn't work.

[2021-05-07 16:18] KhazAkar opened #222 "DBUS/Python support?"
Hi!
Is there any plan to roll-out support for D-bus interface to be able to more easily communicate with CANdevStudio instance, in a similar way that's made between CANoe and Python, using COM objects on Windows? It would help with automation of some tests using CANdevStudio

[2021-05-10 06:02] rkollataj commented on #222
Hi @KhazAkar,
For scripting inside of CANdevStudio I was thinking about JavaScript language as QML that is in-built in Qt is based on it. The work on that is almost completed in #216. I was experimenting with embedding Python inside CANdevStudio, but there were certain limitations on this (e.g. one interpreter per whole application).

As I understand you would like to go one step further and commu

[2021-05-10 06:04] rkollataj commented on #222
If you would like to write some scripts for testing purposes in Python you may also consider using https://python-can.readthedocs.io. It seems to support wide range of different hardware interfaces.

[2021-06-21 18:33] #200 closed

[2021-06-21 18:34] rkollataj commented on #202
Fixed with #206 in v1.2.1

[2021-06-21 18:34] #202 closed

[2021-06-21 18:34] rkollataj commented on #200
Fixed with #206 in v1.2.1

[2021-07-03 11:05] jogo- commented on #203
@8bitgeek @btaczala Have you tried with latest v1.2.2 ?

[2021-07-13 10:31] MauroMombelli opened #231 "Build error on latest git"
trying to build from the AUR:
[code]

[2021-07-16 07:20] rkollataj commented on #231
I am able to install aur/candevstudio-git r269.fe417bd3-1 successfuly. Errors looks pretty strange to me. Maybe you are missing some dependencies and AUR package don't have it configured correctly? Try to install gcc, cmake, boost, boost-libs and qt5 before running candevstudio-git install. I am not maintaining AUR package. Try posting your problem here: https://aur.archlinux.org/packages/candevst

[2021-10-01 23:28] sisco0 commented on #221
You should install the `libqt5serialbus5-dev` package for fixing that dependency.

# How do I know

---

If you are in doubt of some other file then you should install `apt-file` by invoking the next command:

[code]

After installing `apt-file` you must update its database, so just type:

[code]

Then, you could search for files in packages by executing a search:

[code]

You should obtain some r

[2021-10-01 23:38] sisco0 commented on #231
This error could be caused because of a high memory load as well. You should ensure that you have enough physical and swap memory for building the solution. If you do not have enough memory, you should create a new temporary swap file.

Try to build using less build threads as well.

[code]

That would build using 2 threads.

[2021-10-17 18:28] audiserg opened #234 "Error when try select socket can :Cannot load library socketcan"
Ubuntu 16.04 SavvyCAN work good, candump work perfect. But in CanDevStudio when  selecting socketcan, appear error Cannot load library socketcan

[2021-10-18 06:46] rkollataj commented on #234
That's an error that comes from Qt socketcan plugin. You can either install libsocketcan or... ignore it 🙂 Libsocketcan is required if you would like to configure socketCAN interface directly from CDS (e.g. QCanBusDevice::BitRateKey) See here: https://doc.qt.io/qt-5/qcanbusdevice.html#ConfigurationKey-enum. If you are configuring CAN interface with iproute2 like for candump you should be fine with

[2021-10-25 20:44] kefir opened #235 "Segmentation fault, Gtk-CRITICAL"
Hello everyone.

OS: Manjaro, 5.14.10-arch1
Shell:  GNOME Shell 40.5

When trying to open any existing project I'm always getting following error:

[code]

App crashes, creating new project and working on it is fine

[2021-12-18 22:36] KhazAkar commented on #208
I second this, this will be the first full-fledged open source cross-platform application which have support for CAN-FD. We need it badly :)

[2022-01-10 14:58] EFeru opened #236 "Cannot parse dbc files with special symbols, e.g., "°C" as Unit"
Hi,

Thank you for the great work on this tool!

Maybe it is a minor one, but I thought is good to let you know. As the title says, when I load a dbc file that has special symbols like "°C", the tool is not able to load the dbc file.

It took me quite some time to pin point where the issue was. I had special symbols only in the Unit column, so I am not sure about other places like Comment filelds.

[2022-05-20 21:22] jcharrey opened #239 "Cannot launch qml script"
Hello,
Thanks for this awesome software. I can not run any qml script. For example using the examples I get :
[code]
Any idea where I went wrong ?
Thanks
Jacques

[2022-09-11 13:28] matthias-mw commented on #236
Hi,

also from my side, thanks for the Tool! I also found a minor "bug" in the dbc-File import.
It bugs if you import "6.10352e-05". Changing it to "6.10352E-05" solves the issus....

Note for other users have possible trouble with the dbc-file:
Start CANdevStudio from the comandline. If the ist an error while importing you will see something like this:
` [error] [dbcparser.cpp@66] Parser log 96:3

[2022-11-23 16:20] isteelcx opened #240 "why you choose NodeEditor framework？"
do you think NodeEditor is the best open source project you ever seen？